@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* fonts */

	@font-face {
		font-family: 'Thin';
		src: url('/fonts/inter/Inter-Thin.ttf') format('truetype');
	}

	@font-face {
		font-family: 'ExtraLight';
		src: url('/fonts/inter/Inter-ExtraLight.ttf') format('truetype');
	}

	@font-face {
		font-family: 'light';
		src: url('/fonts/inter/Inter-Light.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Regular';
		src: url('/fonts/inter/Inter-Regular.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Medium';
		src: url('/fonts/inter/Inter-Medium.ttf') format('truetype');
	}

	@font-face {
		font-family: 'SemiBold';
		src: url('/fonts/inter/Inter-SemiBold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Bold';
		src: url('/fonts/inter/Inter-Bold.ttf') format('truetype');
	}
	@font-face {
		font-family: 'ExtraBold';
		src: url('/fonts/inter/Inter-ExtraBold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Black';
		src: url('/fonts/inter/Inter-Black.ttf') format('truetype');
	}
	:root {
		/* base sizes */
		--base-size: 1.2rem;
		--lineHeight: 1.5;

		/* fonts */
		--fw-black: 'Black', sans-serif;
		--fw-bold: 'Bold', sans-serif;
		--fw-extra-bold: 'ExtraBold', sans-serif;
		--fw-extra-light: 'ExtraLight', sans-serif;
		--fw-light: 'Light', sans-serif;
		--fw-medium: 'Medium', sans-serif;
		--fw-regular: 'Regular', sans-serif;
		--fw-semi-bold: 'SemiBold', sans-serif;
		--fw-thin: 'Thin', sans-serif;

		/* colors */

		--showColor: hsl(196, 100%, 50%);
		--transparent: transparent;

		--hsl-main: 10 89% 55%;
		--hsl-secondary: 196 100% 50%;

		--hsl-white: 0 0% 98%;
		/* blacks */
		--hsl-black-matte: 204 22% 13%;
		--hsl-black-charcoal: 204 19% 26%;
		--hsl-black-licorice: 0 20% 9%;

		/* whites */
		--hsl-offwhite: 33 77% 96%;
		--hsl-bonewhite: 44 5% 95%;
		--hsl-alabaster: 48 29% 90%;

		/* grays */
		--hsl-gray: 213 36% 27%;
		--hsl-platinum: 40 5% 89%;
		--hsl-steel: 203 5% 47%;
		--hsl-charcoal: 204 19% 26%;

		/* base HSL colors */
		--hsl-orange: 11 80% 60%;
		--hsl-orangered: 16 100% 50%;
		--hsl-levander: 260 82% 71%;
		--hsl-purple: 260 60% 65%;
		--hsl-blue: 218 87% 69%;
		--hsl-green: 162 80% 59%;
		--hsl-pink: 301 55% 69%;
		--hsl-yellow: 46 100% 50%;
		--hsl-gold: 51 100% 50%;
		--hsl-cyan: 180 50% 50%;
		--hsl-red: 350 100% 65%;

		/* mixed OKLAB colors */
		--clr-brand: color-mix(in oklab, hsl(var(--hsl-main)) 65%, white);
		--clr-bg-main: color-mix(in oklab, hsl(var(--hsl-offwhite)) 20%, white 1%);
		--clr-font-main: color-mix(in oklab, hsl(var(--hsl-black-matte)) 90%, white 16%);
		--clr-font-light: color-mix(in oklab, hsl(var(--hsl-black-matte)) 90%, white 60%);
		--clr-link: color-mix(in oklab, hsl(var(--hsl-main)), black 16%);
	}

	/* CSS reset */
	/* https://www.joshwcomeau.com/css/custom-css-reset/ */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
		color: var(--clr-font-main);
	}

	#root,
	#__next {
		isolation: isolate;
	}

	/* base styles */
	body {
		background: var(--clr-bg-main);
		font-family: var(--fw-regular);
		/* optimizeSpeed */
		text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;

		/* antialiasing */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* optimizeLegibility */
		font-variant-ligatures: no-common-ligatures;
		text-rendering: optimizeLegibility;
	}

	/* typography */
	h1,
	.h1 {
		font-size: clamp(1.953rem, calc(1.4rem + 1vw), 3.052rem);
		margin-bottom: 1rem;
	}

	h2,
	.h2 {
		font-size: clamp(1.536rem, calc(1.2rem + 1vw), 2.441rem);
		margin-bottom: var(--h3);
	}

	h3,
	.h3 {
		font-size: clamp(1.536rem, calc(1rem + 1vw), 1.993rem);
		margin-bottom: var(--h4);
	}

	h4,
	.h4 {
		font-size: clamp(1.25rem, calc(0.9rem + 1vw), 1.563rem);
		margin-bottom: var(--h5);
	}
	h5,
	.h5 {
		font-size: clamp(1rem, calc(0.8rem + 1vw), 1.25rem);
		margin-bottom: var(--h6);
	}
	h6,
	.h6 {
		font-size: clamp(1rem, calc(0.8rem + 0.5vw), 1rem);
		margin-bottom: var(--base-size);
	}

	/* max width of plain text */
	p,
	ul,
	ol {
		max-width: 72ch;
	}

	p {
		line-height: 1.4;
		margin-bottom: 1rem;
	}

	p:last-child {
		margin-bottom: 0;
	}

	ul,
	ol {
		list-style-type: square;
		margin-bottom: 1.6rem;
	}

	/* Links */
	a {
		color: var(--clr-link);
	}

	a:hover {
		text-decoration: underline;
		color: var(--clr-link);
	}

	strong {
		letter-spacing: 0.05rem;
	}

	svg {
		display: block;
	}
	/* helpers */

	/* utility classes */

	/* components */

	/* animations */

	/* pages */

	/* themes */

	/* variants */

	/* utilities */

	/* accessibility */

	/* print */

	/* debug */
}
