@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

@font-face {
	font-family: 'Thin';
	src: url('/fonts/inter/Inter-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'ExtraLight';
	src: url('/fonts/inter/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'light';
	src: url('/fonts/inter/Inter-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Regular';
	src: url('/fonts/inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Medium';
	src: url('/fonts/inter/Inter-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'SemiBold';
	src: url('/fonts/inter/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Bold';
	src: url('/fonts/inter/Inter-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'ExtraBold';
	src: url('/fonts/inter/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Black';
	src: url('/fonts/inter/Inter-Black.ttf') format('truetype');
}

@layer base {
	:root {
		/* base sizes */
		--base-size: 1.2rem;
		--lineHeight: 1.5;

		/* fonts */
		--ff-black: 'Black', sans-serif;
		--ff-bold: 'Bold', sans-serif;
		--ff-extra-bold: 'ExtraBold', sans-serif;
		--ff-extra-light: 'ExtraLight', sans-serif;
		--ff-light: 'light', sans-serif;
		--ff-medium: 'Medium', sans-serif;
		--ff-regular: 'Regular', sans-serif;
		--ff-semi-bold: 'SemiBold', sans-serif;
		--ff-thin: 'Thin', sans-serif;

		/* colors */

      --test: hsl(10, 89%, 55%);
      
		--hsl-brand: 10, 89%, 55%;


		--clr-transparent: transparent;
		--clr-main-bg: hsl(45, 60%, 96%);

		--clr-brand: color-mix(in oklab, hsl(var(--hsl-brand)) 65%, white);
	}

	/* CSS reset */
	/* https://www.joshwcomeau.com/css/custom-css-reset/ */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
		color: var(--clr-brand);
	}
	#root,
	#__next {
		isolation: isolate;
	}

	/* colors */

	/* base styles */
	body {
		font-family: var(--ff-regular);
		/* optimizeSpeed */
		text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;

		/* optimizeLegibility */

		/* antialiasing */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* optimizeLegibility */
		font-variant-ligatures: no-common-ligatures;
		text-rendering: optimizeLegibility;
	}
}
